<section class="beer-result container">
        <ul id=beerObject>
            <li class="beer-view" data-id='<%= body.data.name %>'>
            <% beers.forEach(beer => { %>
                <h4>Name: <%= body.data.name %></h4>
                <img src= '<% ../../../../public/img/alcohol-alcoholic-beer-1161466.jpg %>''>
                <p>brewery: <%= body.data.id %> </p>   <!-- This is the one that has a different call on it (brewerydb.com/v2/beer/:beerid/brewers? key=[APIkey]-->
                <p> ABV: <%= body.data.abv %> </p>
                <p> IBU Min: <%= body.data.style.ibumin %></p>
                <p> IBU Max: <%= body.data.style.ibumax %></p>
                <p>Description: <%= body.data.style.description %> </p>
           <% }) %>
              
            </li>
        </ul>
    </section>

    //style
    //beer_id
    //style_id
    //these need added to the format