<section class="beer-result container">
        <ul id=beerObject>
            <li class="beer-view" data-id='<%= body.data.name %>'>
            <% beers.forEach(beer => { %>
                <h4>Name: <%= body.data[1].name %></h4>
                <p>brewery: <%= body.data[1].breweries[0].name %> </p>   
                <img><%= body.data[].breweries[0].website.squareMedium %>
                <p> ABV: <%= body.data.abv %> </p>
                <p> IBU: <%= body.data.ibu %></p>
                <p> Style: <%= body.data.style.name %></p>
                <p>Description: <%= body.data.style.description %> </p>
           <% }); %>           
            </li>
        </ul>
    </section>
