<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') -%>
</head>
<body>
    <%- include('./partials/header.ejs') -%>
    <%- include('./partials/searchResultFormat.ejs') -%>
    <!-- fix this one partial created -->
    <%- include('./partials/.ejs') -%>
    <%- include('./partials/footer.ejs') -%>
</body>
</html>