
<section class="a-single-brewery">
    <ul id=breweryObject>
        <li class="brewery-view" data-id='<%= brewery.id %>'>
            <h4>Name: <%= brewery.brewery %></h4>
            <img src= '<% brewery.img %>''>
        </li>
    </ul>
    <p> Count: <%= beers.length %> </p>

    <section class="beer-result container">
        <ul id=beerObject>
          <% beers.forEach(beer => { %>
            <li class="beer-view" data-id="<%= beer.id %>">
                <h4>Name: <%= beer.name %></h4>
                <p> Style: <%= beer.style %></p>
                <img src="/img/alcohol-alcoholic-beer-1161466.jpg">
                <p> ABV: <%= beer.abv %> </p>
              </li>
           <% }) %>
        </ul>
    </section>

</section>
