<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs', {pageTitle: breweryBeers[0].breweryname}) -%>
</head>
<body>
    <%- include('../partials/header.ejs') -%>
    <main class="grid-container">

        <section class="beer-result-container">
            <ul id="beerObject">
                <h1 id="breweryName"><%= breweryBeers[0].breweryname %></h1>
                <p id="brewImage"><img id="brewImg" src="<%= breweryBeers[0].breweryimage %>"></p>
                <p id="website"><%= breweryBeers[0].website %></p>
                <li class="beer-view">
                    <% breweryBeers.forEach(beer => { %>
                    <h4>Name: <a href="/beers/<%= beer.beerid %>"><%= beer.beername %></a></h4>
                    <p> Style: <%= beer.stylename %></p>
                    <p>ABV: <%= beer.abv %></p>
                    <% }) %>
                </li>
            </ul>
        </section>
    </main>
    <%- include('../partials/footer.ejs') -%>
</body>
</html>
