<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <h1>Breweries:</h1>
  <ul>
    <% breweries.forEach(brewery => { %>
    <li>
      <%= Object.keys(brewery) %> <br />
      <%= Object.values(brewery) %>
    </li>
    <% }); %>
  </ul>
  <h1>Styles:</h2>
  <ul>
    <% styles.forEach(style => { %>
    <li>
      <%= Object.keys(style) %> <br />
      <%= Object.values(style) %>
    </li>
    <% }) %>
  </ul>
  <h1>Beers:</h2>
  <ul>
    <% beers.forEach(beers => { %>
    <li>
      <%= Object.keys(beers) %> <br />
      <%= Object.values(beers) %>
    </li>
    <% }) %>
  </ul>
</body>

</html>